/*
*  Main.
*
*  [Table of contents]
*
*  [&. Content / #key]
*  [Let press Ctrl + f and type of paste the key, then press Enter to search the content]
*
*  Summary:
*
*  01. Prefix
*
*/

@import './stylesheet/base/base';
/*==================================
=            01. Prefix            =
==================================*/

.clickable {
  cursor: pointer;
  user-select: none;
}
.yellow-dark {
  color: #ddb1044a !important;
}
.bg-yellow-80 {
  background-color: rgba(250,203,14,0.8) !important;
}
/*=====  End of 01. Prefix  ======*/
