@import '~assests/stylesheet/base/variables';
.build-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    button {
        display: block;
        font: inherit;
        padding: 5px;
        margin: 0 5px;
        width: 80px;
        border: 1px solid $color-orange-bold;
        outline: none;
        &.disabled {
            cursor: not-allowed;
            border: 1px solid adjust-color($color-black, $lightness: 10%);
            color: $color-black;
            background-color: $color-white;
        }
    }
    &__label {
        padding: 10px;
        font-weight: bold;
        width: 80px;
    }
    &__less {
        background-color: $color-orange;
        color: $color-white;
    }
    &__more {
        background-color: $color-orange-bold;
        color: $color-white;
    }
}