@import '~assests/stylesheet/base/variables';
.build-controller {
    display: flex;
    margin: 2rem auto;
    &__btn {
        margin-left: auto;
        display: flex;
    }
    button {
        display: block;
        font: inherit;
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 50%;
        border-color: $color-button;
        font-size: 1.5rem;
        font-weight: bolder;
        &.disabled {
            border: 1px solid adjust-color($color-button, $lightness: 10%);
            color: $color-button;
            background-color: $color-white;
        }
        &:focus {
            outline: none;
        }
    }
    &__label {
        padding: 10px;
        font-weight: 450;
        width: 80px;
    }
    &__less {
        background-color: $color-white;
        color: $color-button;
    }
    &__more {
        background-color: $color-button;
        color: $color-white;
    }
    &__price {
        color: adjust-color($color: $color-black, $alpha: -0.5);
        padding: 0 1rem;
        font-style: italic;
    }
}